.sfondo {
    height: 130px;
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size: 500px 250px;
    position: relative;
}

.resize {
    width: 250px;
    position: absolute;
    top: 50px;
}

.intestazione-tabella {
    background-color: blue;
}

.larghezza-riga {
    width: 60%;
}

.colore-riga-tabella {
    background-color: aqua;
}

.sfondo-indice-tabella {
    background-color: blue;
    color: white;
}